* {
    transition: all 0.1s;
}

@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.eot?#iefix) format("embedded-opentype"), url(../fonts/Vazir.woff2) format("woff2"), url(../fonts/Vazir.woff)format("woff"), url(../fonts/Vazir.ttf) format("truetype");
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
}

body {
    font-family: "Vazir" !important;
}

.text-gray {
    color: #44494e !important;
}

.text-gray-600 {
    color: #6c757d !important;
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .8rem;
}

.bg-red {
    background-color: #ff7976;
}

.bg-purpel {
    background-color: #9694ff !important;
}

.bg-blue {
    background-color: #57caeb;
}

.bg-green {
    background-color: #bddab4;
}

.lh-0 {
    line-height: 0;
}

.btn-light-primary {
    background-color: #ebf3ff;
    color: #002152;
}

.dir-ltr {
    direction: ltr;
}

.main .profile::after {
    border: none;
}


/* bootstrap modify */

.card {
    border: none !important;
    border-radius: 0.7rem;
}

.card-header {
    padding: 1rem;
    background-color: #fff;
    border-bottom: none;
}

.card-header:first-child {
    border-radius: 0.7rem;
}

.progress {
    height: 20px;
}

.progress-bar {
    height: 20px;
    padding-top: 5px;
}

.breadcrumb a {
    text-decoration: none;
    color: #435ebe;
}


/* sidebar */

.bi-justify,
.bi-x {
    font-size: 35px !important;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: 0.5s all ease-in-out;
    background-color: #fff;
    padding: 1rem;
    padding-right: 0.5rem;
    overflow-y: hidden;
    z-index: 3;
}

.sidebar:hover {
    overflow-y: auto;
}

.sidebar.inactive {
    margin-right: -250px;
}

.sidebar .sidebar-item {
    margin-top: 0.5rem;
}

.sidebar .sidebar-item .sidebar-link {
    text-decoration: none;
    color: #25396f;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    transition: all 0.5s;
    cursor: pointer;
}

.sidebar .sidebar-item .sidebar-link:hover {
    background-color: #f0f1f5;
}

.sidebar .sidebar-item.active .sidebar-link {
    background-color: #435ebe;
    color: #fff;
}

.sidebar .sidebar-item .sidebar-link i {
    color: #7c8db5;
}

.sidebar .sidebar-item.acvtive .sidebar-link i {
    color: #fff;
}

.sidebar .submenu {
    list-style: none;
}

.sidebar .submenu .submenu-item a {
    padding: 0.7rem 0.2rem;
    display: block;
    color: #25396f;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    transition: .3s all;
}

.sidebar .submenu .submenu-item a:hover {
    padding-right: .6rem;
}

.sidebar .sidebar-item .sidebar-link .bi-chevron-down {
    font-size: 0.8rem;
}


/* .am5-layer-30 {
    display: none;
} */


/* Main */

.main {
    /* height: 100vh; */
    background-color: #f2f7ff;
    transition: 0.5s all ease-in-out;
}

.main .toggle-sidebar-icon {
    color: #25396f;
}

.main.active {
    margin-right: 0;
}


/* content main */

.main .content .stats-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
}

@media(min-width:992px) {
    .main {
        margin-right: 250px;
    }
}

[x-cloak] {
    display: none !important;
}